// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

$border-width: 2.5px;
$border-color: #000;

// Required
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//
// Custom styles
//

@import "icon-list";

body {
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .desktop-50 {
    max-width: 50%;
  }
}

a i {
  margin-left: 0.5rem;
}

body {
  padding: 0;
}

/* Full screen containers */
.full-screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  scroll-snap-align: start;
}

.next-btn {
  position: absolute;
  bottom: 20px;
  margin-bottom: 20px;
}

/* Smooth scrolling effect */
html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.img-profile {
  background: url("./assets/images/dipak.png")#fff no-repeat;
  width: 150px;
  height: 150px;
  display: block;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
}

.hero-container {
  min-height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  margin-top: 30px;
  background: #fff;
  border-radius: var(--bs-border-radius) !important;
  margin-left: 15px;
  position: relative;
  border: $border-width solid $border-color;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: url(./assets/images/headshot.png) $border-color no-repeat;
  background-size: cover;
  margin-right: 30px;
}

.floating-btn {
  left: 50%;
  bottom: 0;
  position: fixed;
  transform: translateX(-50%);
  max-width: 80px;
}

.title-decoration::after {
  content: '';
  display: block;
  width: 100px;
  height: $border-width;
  background-color: $border-color;
  margin-bottom: 30px;
  margin-top: 15px;
}

.card-text a.link {
  display: inline-block;
  min-width: 180px;
  border: 2px solid #000;
  padding: 5px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

// .animate {
//   transition: all 0.8s ease-in-out;
//   position: absolute;
//   margin-top: 60px;
// }

// .second-container,
// .third-container,
// .fourth-container,
// .fifth-container {
//   top: 100%;
// }
.sidebar-container {
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  background-color: #0d0e10;
}

.sidebar-menu {
  width: 100%;
  a {
    display: block;
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}